/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');

@font-face {
	font-family: 'Akzidenz-grotesk-black';
	src: url('../fonts/Akzidenz-grotesk-black.eot');
	src: local('☺'), url('../fonts/Akzidenz-grotesk-black.woff') format('woff'), url('fonts/Akzidenz-grotesk-black.ttf') format('truetype'), url('fonts/Akzidenz-grotesk-black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Akzidenz-grotesk-bold';
	src: url('../fonts/Akzidenz-grotesk-bold.eot');
	src: local('☺'), url('../fonts/Akzidenz-grotesk-bold.woff') format('woff'), url('fonts/Akzidenz-grotesk-bold.ttf') format('truetype'), url('fonts/Akzidenz-grotesk-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Akzidenz-grotesk-light';
	src: url('../fonts/Akzidenz-grotesk-light.eot');
	src: local('☺'), url('../fonts/Akzidenz-grotesk-light.woff') format('woff'), url('fonts/Akzidenz-grotesk-light.ttf') format('truetype'), url('fonts/Akzidenz-grotesk-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Akzidenz-grotesk-roman';
	src: url('../fonts/Akzidenz-grotesk-roman.eot');
	src: local('☺'), url('../fonts/Akzidenz-grotesk-roman.woff') format('woff'), url('fonts/Akzidenz-grotesk-roman.ttf') format('truetype'), url('fonts/Akzidenz-grotesk-roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import 'nullstyle.scss';
//defoult font
$fontfamily: '';

//variable
$mw: 880px;
header{
    padding: 29px 0px 33px 0px;
    color: #fff;
}
.wrapper {
    
}
.conteiner {
  max-width: 880px;
  margin: 0 auto;
}
.header-top {
    display: flex;
    justify-content: space-between;
}
.header-lang {
    display: flex;
    justify-content: space-between;
}
.header-top-lang__item {
    //display: block;
    font-family: 'Bebas';
    font-size: 14px;
    line-height: 19px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0px 4px;
    margin-right: 10px;
    &.active{
        background-color: #000;
        color: white;
        text-align: center;
    }
}
.header-top__link {
    font-family: 'Akzidenz-grotesk-bold';
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header-bottom {
    margin-top: -10px;
    display: flex;
    align-items: center;
}
.header-bottom__column {
    flex: 0 0 33.333%;
}
.header-bottom-menu{
    &--right{
        .header-bottom-list{
            margin: 0;
            display: flex;
            justify-content: flex-end;
            text-align: right;
            li{
                margin-left: 45px;
                &:first-child{
                    margin: 0;
                }
            }
        }

    }
}
   
.header-bottom-menu-list {
    display: flex;
    li{margin: 0px 45px 0px 0px;
        &:last-child{
            margin: 0;
        }
        }
    }

.header-bottom-menu__link {
    font-family: 'Akzidenz-grotesk-bold';
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    text-transform: uppercase;
}
.header-logo {
    display:block;
    text-align: center;
}
.header-logo__text {
    display: block;
    font-family: "Bebas";
    font-size: 8px;
    letter-spacing: 8px;
    color: #000000;
    text-transform: uppercase;   
}
.header-logo__image {
    display: inline-block;
    margin: 13px 0px 22px 0px;
}